header{
    color: white;
    background-color: #007a79;
    height: 15rem;
    display: flex;
    align-content: center;
    h1{
        text-align: center;
        font-size: 3rem;
    }
    nav{
        font-size: 1.25rem;
        height: 3.5rem;
        background-color: #007a79;
    }
}

footer{
    background-color: #007a79;
}