.inputsUsuario{
    text-align: center;
    width: 70%;
    margin: 5px auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    .card{
        display: inline-block;
    }
}

.container{
    width: 80%;
    text-align: center;
    label{
        display:block;
    }
    input{
        margin: 10px auto;
        display:block;
    }
    textarea{
        margin: 0 auto;
        display: block;
    }
}
#avance{
    padding: 0;
    border: none;
    .avanceFormulario{
        margin: 0;
        border-radius: 20%;
        display: inline-block;
        border: 1.5px solid #007a79;
        height: 10px;
        width: 15%;
    }
    .completo{
        background-color: #007a79;
    }
}

.disabled{
    display: none;
}

a{
    color: white;
    text-decoration: none;
}

#loading{
    text-align: center;
    img{
        height: 300px;
    }
    #gracias{
        display:none;
    }
}